# Mac OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Linux
*~


# SASS Cache
*.scssc

# IDE Settings: IntelliJ, RubyMine, PhpStorm, AppCode, DreamWeaver
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/
_notes
dwsync.xml

vendor
settings/server.hh
settings/bower.hh
settings/settings.php

core/hooks/tmp/*
public/resources/js/*
public/resources/less/*
public/resources/scss/*
public/components/*
public/errors/*

assets
tmp
*.log
translations/*.res

node_modules
npm-debug.log
composer.lock